/* INDEX.HTML */

.index_navbar {
    background: #1376AF !important;
}

.index_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

/* SIGNIN.HTML */

.signin_logo {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
}

.signin_title {
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

.signin_login {
    border-top: none;
    width: 92%;
    margin: auto;
    border-left: none;
    border-right: none;
}

.signin_buttonHolder {
    width: 100%;
    height: 15%;
    text-align: center;
}

.signin_login input {
    /*margin-bottom: -20px;*/
    font-family: 'Varela Round', sans-serif;
    //font-style: italic;
    font-weight: lighter;
    color: grey;
}

#signin_username_form {
    margin-top: 40px;
}

.signin_line {
    height: 0.5px;
    border: none;
    color: black;
    background-color: #eee;
}

a {
    text-decoration: none;
}

#signin_loginAndSignin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.signin_loginButton {
    margin: auto;
    display: block;
    border: 1px solid #3070AE;
    width: 155px;
    height: 38px;
    border-radius: 3px;
    color: #3070AE;
    font-size: 12px;
    font-family: Raleway;
    margin-top: 30px;
}

#signin_facebook {
    background-color: #3b5998;
    color: white;
    width: 180px;
}

#signin_facebook i {
    margin-right: 5px;
}

.signin_or {
    color: #668095;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

/* SIGNUP.HTML */

.signup_ionView {
    background-color: white;
}

.signup_title {
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #006A91;
    font-size: 20px;
    padding-top: 50px;
    display: block;
}

.signup_rowOne {
    width: 100%;
    height: 10%;
    //background-color: red;
    margin-top: 50px;
    text-align: center;
    display: block;
}

.signup_formRowOne {
    width: 145px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowTwo {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowTwo {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowThree {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowThree {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowFour {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowFour {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_signUpButton {
    width: 180px;
    height: 38px;
    background-color: #006A91;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-top: 25px;
    border: none;
}

/* SELLER.HTML */

.seller_navbar {
    background: #1376AF !important;
}

.seller_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

.seller_background {
    background-color: #ECECEC;
    text-align: center;
}

.seller_itemHolder {
    width: 90%;
    height: 500px;
    display: block;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    border-radius: 8px;
}

.seller_itemName {
    padding-top: 200px;
    //background-color: red;
    width: 100%;
    display: block;
    border: 1px solid black;
}

.seller_block {
    width: 100%;
    height: 40px;
    //background-color: green;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #eee;
}

.seller_block p {
    color: #A4A4A4;
    text-align: left;
    padding-left: 8px;
    padding-top: 10px;
}

#seller_descriptionBlock {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

#seller_descriptionBlock textarea {
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-top: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #767676;
    resize: none;
}

#seller_categoryBlock {
    height: 210px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.seller_categoryBlockOne {
    /*background-color: red;*/
    text-align: center;
}

.seller_categoryBlockOne ul li {
    padding: 4px;
}

.seller_categoryBlockOne ul li a {
    text-decoration: none;
    color: white;
}

.seller_categoryBlockTwo {
    /*background-color: blue;*/
    text-align: center;
}

.seller_categoryBlockTwo ul li {
    padding: 4px;
}

.seller_categoryBlockTwo ul li a {
    text-decoration: none;
    color: white;
}

.seller_category {
    width: 82px;
    height: 22px;
    display: block;
    border-radius: 8px;
    background-color: #808080;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#seller_cameraBlock {
    height: 110px;
    text-align: center;
}

.seller_block input {
    height: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    padding-left: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #767676;
}

#blockOne {
    //background-color: #eee;
    height: 90px;
    border-radius: 10px;
}

#blockOne i {
    color: black;
}

#blockOne h3 {
    font-family: 'Varela Round', sans-serif;
    color: #767676;
    font-size: 12px;
    padding-top: -10px;
}

#blockTwo {
    //background-color: #eee;
    height: 90px;
    border-radius: 10px;
}

#blockTwo h3 {
    font-family: 'Varela Round', sans-serif;
    color: #767676;
    font-size: 12px;
    padding-top: -10px;
}

#blockTwo i {
    color: black;
}

.seller_row {
    width: 90%;
    //background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.seller_postButton {
    width: 230px;
    height: 40px;
    background-color: #1376AF;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.blue {
    background-color: #1376AF;
}

/* FEED.HTML */

.feed_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

.feed_itemCard {
    border-radius: 10px;
    margin-top: -10px;
}

.feed_image {
    height: 200px;
}

#feed_itemInfo {
    margin-left: -67px;
    display: block;
    max-width: 100px;
    margin-top: -10px;
    color: #5D5D5D;
}

.feed_itemPrice {
    float: right;
    margin-top: -20px;
    font-size: 14px !important;
    color: #00557C !important;
    font-weight: bold !important;
}

.feed_item {
    //background-color: blue;
    min-height: 5px !important;
    height: 5px !important;
}

#feed_secondColumn {
    margin-top: 50px;
}

/* ignore */
.test {
    width: 100px;
    background-color: red;
    margin: 10px;
}
