/* INDEX.HTML */

.index_navbar {
    background: #006C82 !important;
}

.index_viewTitle {
    color: white;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bold !important;
    background: #6699CC !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}

/* SIGNIN.HTML */

.signin_logo {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
}

.signin_title {
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

.signin_login {
    border-top: none;
    width: 92%;
    margin: auto;
    border-left: none;
    border-right: none;
}

.signin_buttonHolder {
    width: 100%;
    height: 15%;
    text-align: center;
}

.signin_login input {
    /*margin-bottom: -20px;*/
    font-family: 'Varela Round', sans-serif;
    //font-style: italic;
    font-weight: lighter;
    color: grey;
}

#signin_username_form {
    margin-top: 40px;
}

.signin_line {
    height: 0.5px;
    border: none;
    color: black;
    background-color: #eee;
}

a {
    text-decoration: none;
}

#signin_loginAndSignin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.signin_loginButton {
    margin: auto;
    display: block;
    border: 1px solid #3070AE;
    width: 155px;
    height: 38px;
    border-radius: 3px;
    color: #3070AE;
    font-size: 12px;
    font-family: Raleway;
    margin-top: 30px;
}

#signin_facebook {
    background-color: #3b5998;
    color: white;
    width: 180px;
}

#signin_facebook i {
    margin-right: 5px;
}

.signin_or {
    color: #668095;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

/* SIGNUP.HTML */

.signup_ionView {
    background-color: white;
}

.signup_title {
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #006A91;
    font-size: 20px;
    padding-top: 50px;
    display: block;
}

.signup_rowOne {
    width: 100%;
    height: 10%;
    //background-color: red;
    margin-top: 50px;
    text-align: center;
    display: block;
}

.signup_formRowOne {
    width: 145px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowTwo {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowTwo {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowThree {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowThree {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowFour {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowFour {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_signUpButton {
    width: 180px;
    height: 38px;
    background-color: #006A91;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-top: 25px;
    border: none;
}

/* SELLER.HTML */

.seller_navbar {
    background: #1376AF !important;
}

.seller_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

.seller_background {
    background-color: #f7fafc;
}

.seller_image {
    width: 100%;
    height: 340px;
}

.seller_information {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.seller_priceContainer {
    width: 48px;
    height: 24px;
    background-color: #6699CC;
    display: table;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: -3px;
}

.seller_priceContainer h4 {
    font-family: 'Lato' , sans-serif;
    color: white;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    font-size: 13px;
}

.seller_itemTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    padding-top: 10px;
    margin-left: 20px;
    color: #204B57;
    font-weight: 800;
}
.seller_sellerName {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    padding-top: 3px;
    margin-left: 20px;
    color: #5E6872;
    font-weight: 500;
}

.seller_description {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-top: 3px;
    margin-left: 20px;
    color: #5E6872;
    font-weight: 100;
    max-width: 70%;
}

.seller_buttonHolder {
    width: 100%;
}

.seller_chat {
    width: 90px;
    height: 34px;
    border-radius: 4px;
    background-color: #2F5A6B;
    color: white;
    font-family: 'Work Sans', sans-serif;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

.seller_purchase img {
    width: 100px;
    height: 25px;
    margin-top: 7px;
}

.seller_purchase {
    width: 150px;
    height: 34px;
    border-radius: 4px;
    background-color: #3D95CE;
    color: white;
    font-family: 'Work Sans', sans-serif;
    border: none;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.seller_share {
    margin-left: 20px;
    display: block;
    border: 1px solid #3070AE;
    width: 190px;
    height: 38px;
    border-radius: 4px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-top: 15px;
    background-color: #3b5998;
}

.seller_share i {
    margin-right: 4px;
}

#seller_itemInformation {
    display: inline;
}

/* FEED.HTML */

.feed_background {
    background-color: #f7fafc;
}

.feed_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

.feed_itemCard {
    border-radius: 5px;
    width: 96%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.feed_image {
    height: 200px;
}

#feed_itemInfo {
    margin-left: -65px;
    display: block;
    max-width: 80px;
    margin-top: -10px;
    color: black;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
}

.feed_itemPrice {
    float: right;
    margin-top: -20px;
    font-size: 13px !important;
    color: #00557C !important;
    font-weight: bold !important;
    margin-right: -10px;
    font-family: 'Work Sans', sans-serif;
}

.feed_item {
    min-height: 5px !important;
    height: 5px !important;
    max-height: 10px !important;
}

#feed_secondColumn {
    //margin-top: 25px;
}

/* NEW FEED STUFF */

.feed_list {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: green;
}

.feed_itemTest {
    width: 100%;
    height: 260px;
    //background-color: red;
    border-bottom: 1px solid #eee;
}

.feed_itemTest img {
    width: 100%;
    height: 200px;
}

.feed_itemAndPriceHolder {
    width: 100%;
    height: 40px;
}

.feed_itemAndPriceHolder h2 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    color: #484F51;
    margin-top: 5px;
    /*font-family: 'Work Sans', sans-serif;*/
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
}

.feed_itemAndPriceHolder h3 {
    font-size: 11px;
    margin-left: 20px;
    color: gray;
    font-family: 'Work Sans', sans-serif;
    margin-top: -4px;
}

.feed_itemAndPriceHolder h4 {
    display: inline-block;
    float: right;
    margin-top: 6px;
    font-size: 13px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Varela Round', sans-serif;
    color: #00557C;
    margin-right: 10px;
    font-weight: bold;
}

/* ACCOUNT.HTML */

.account_background {
    background-color: #f7fafc;
    text-align: center;
}

.account_name {
    padding-top: 50px;
    text-align: center;
    color: #6699CC;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

#account_boughtSold {
    margin-top: 45px;
}

#account_sold {
    text-align: center;
    border-right: 1px solid #eee;
}

#account_bought {
    text-align: center;
}

#account_values {
    font-size: 36px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    color: #4C5B5C;
}

.account_span {
    font-family: 'Work Sans', sans-serif;
    color: #4C5B5C;
    font-size: 12px;
}

#account_contact {
    margin-top: 55px;
}

#account_username {
    //text-align: center;
    border-right: 1px solid #eee;
}

#account_school {
    //text-align: center;
}

.account_contactInfo {
    font-size: 13px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    color: #4C5B5C;
}

#account_buttons {
    width: 160px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: none;
    margin-top: 60px;
    border-radius: 4px;
    color: white;
}

.account_changePassword {
    background-color: #6699CC;
}

.account_logout {
    background-color: #06A77D;
}


/* MEDIA QUERIES */

/* iPhone 5/5s */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

    /* ACCOUNT.HTML */

    #account_buttons {
        width: 130px;
        font-size: 10px;
    }

    #account_contact {
        margin-top: 25px;
    }
}
