<ion-view class="feed_viewTitle" view-title="Items">

    <ion-content class="padding">
        <!-- <h1>Feed screen lol!</h1>

        <a href="#/tab/seller">
            <button>Go to Seller</button>
        </a> -->

        <div class="row">

            <div class="col col-50">
                <div class="list card feed_itemCard">

                    <div class="item item-image">
                        <img class="feed_image" src="img/jersey.jpg">
                    </div>

                    <div class="item item-avatar feed_item">
                        <h2 id="feed_itemInfo">Mike's Jersey</h2>
                        <p class="feed_itemPrice">9.00</p>
                    </div>

                </div>
            </div>

            <div class="col col-50">
                <div class="list card feed_itemCard">

                    <div class="item item-image">
                        <img class="feed_image" src="img/jersey.jpg">
                    </div>

                    <div class="item item-avatar feed_item">
                        <h2 id="feed_itemInfo">Larry's Jersey</h2>
                        <p class="feed_itemPrice">9.00</p>
                    </div>

                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
