<ion-view class="seller_viewTitle" view-title="{{item.itemName}}">

    <ion-content class="seller_background">
        <img class="seller_image" src="data:image/jpeg;base64,{{item.data}}">
        <div class="seller_information">
            <!-- <h2 id="seller_itemInformation" class="seller_price">{{item.price | currency}}</h2> -->
            <div class="seller_priceContainer">
                <h4>{{item.price | currency:undefined:0 }}</h4>
            </div>
            <h2 id="seller_itemInformation" class="seller_itemTitle">{{item.itemName}}</h2>
            <h2 class="seller_sellerName">{{listItem.first}} {{listItem.last}} &#8208; {{listItem.school}}</h2>
            <h2 class="seller_description">{{item.description}}</h2>
            <div class="seller_buttonHolder">
                <button class="seller_chat">Chat</button>
                <button ng-click="venmoMe()" class="seller_purchase">
                    Venmo
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
