<ion-view view-title="Account">
  <ion-content>

      <h1>Hi</h1>

      <!-- <img type="file" enctype="multipart/form-data" src="../img/ben.png" id="srcImage" name="lol" width="250 " height="250" style="display: block; margin: 0 auto;"/><br/> -->
      <!-- <form id       =  "uploadForm"
           enctype   =  "multipart/form-data"
           action    =  "/api/v1/users/addItem"
           method    =  "post"
           name = "lol"
      >
      <input value="lolsubmit" type="image"  ng-click="capturePhotoWithFile()" name="userPhoto" />
      <input type="submit" ng-click="capturePhotoWithFile()" value="Upload Image" name="submit">
      </form> -->
      <!-- <button ng-click="capturePhotoWithFile()" class="button button-full button-positive ">Take Image</button><br/> -->

      <form>
          <input type="file" name="myPhoto">
      </form>

      <img id="srcImage">

  </ion-content>
</ion-view>
