/* INDEX.HTML */

.index_navbar {
    background: #1376AF !important;
}

.index_viewTitle {
    color: white;
    font-family: 'Varela Round', sans-serif; !important;
}

/* SIGNIN.HTML */

.signin_logo {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
}

.signin_title {
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

.signin_login {
    border-top: none;
    width: 92%;
    margin: auto;
    border-left: none;
    border-right: none;
}

.signin_buttonHolder {
    width: 100%;
    height: 15%;
    text-align: center;
}

.signin_login input {
    /*margin-bottom: -20px;*/
    font-family: 'Varela Round', sans-serif;
    //font-style: italic;
    font-weight: lighter;
    color: grey;
}

#signin_username_form {
    margin-top: 40px;
}

.signin_line {
    height: 0.5px;
    border: none;
    color: black;
    background-color: #eee;
}

a {
    text-decoration: none;
}

#signin_loginAndSignin {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.signin_loginButton {
    margin: auto;
    display: block;
    border: 1px solid #3070AE;
    width: 155px;
    height: 38px;
    border-radius: 3px;
    color: #3070AE;
    font-size: 12px;
    font-family: Raleway;
    margin-top: 30px;
}

#signin_facebook {
    background-color: #3b5998;
    color: white;
    width: 180px;
}

#signin_facebook i {
    margin-right: 5px;
}

.signin_or {
    color: #668095;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

/* SIGNUP.HTML */

.signup_ionView {
    background-color: white;
}

.signup_title {
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #006A91;
    font-size: 20px;
    padding-top: 50px;
    display: block;
}

.signup_rowOne {
    width: 100%;
    height: 10%;
    //background-color: red;
    margin-top: 50px;
    text-align: center;
    display: block;
}

.signup_formRowOne {
    width: 145px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowTwo {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowTwo {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowThree {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowThree {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_rowFour {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: block;
}

.signup_formRowFour {
    width: 92%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #006A91;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.signup_signUpButton {
    width: 180px;
    height: 38px;
    background-color: #006A91;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-top: 25px;
    border: none;
}

/* SELLER.HTML */

.seller_navbar {
    background: #1376AF !important;
}

.seller_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
}

.seller_background {
    background-color: white;
}

.seller_image {
    width: 100%;
    height: 340px;
}

.seller_information {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.seller_price {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    color: #1471A8;
    font-weight: 800;
}

.seller_itemTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    color: black;
    font-weight: 800;
    margin-left: -1px;
}

.seller_sellerName {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding-top: 3px;
    margin-left: 20px;
    color: black;
    font-weight: 800;
}

.seller_description {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding-top: 3px;
    margin-left: 20px;
    color: #6D6D6D;
    font-weight: 800;
}

.seller_buttonHolder {
    width: 100%;
    text-align: center;
}

.seller_chat {
    width: 150px;
    height: 34px;
    border-radius: 4px;
    background-color: #2F5A6B;
    color: white;
    font-family: 'Work Sans', sans-serif;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
}

.seller_purchase {
    width: 150px;
    height: 34px;
    border-radius: 4px;
    background-color: #3D95CE;
    color: white;
    font-family: 'Work Sans', sans-serif;
    border: none;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.seller_share {
    margin: auto;
    display: block;
    border: 1px solid #3070AE;
    width: 180px;
    height: 38px;
    border-radius: 4px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
    background-color: #3b5998;
}

.seller_share i {
    margin-right: 4px;
}

#seller_itemInformation {
    display: inline;
}

/* FEED.HTML */

.feed_viewTitle {
    color: white;
    font-family: 'Open Sans', sans-serif; !important;
    text-align: center;
}

.feed_itemCard {
    border-radius: 5px;
    width: 96%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.feed_image {
    height: 200px;
}

#feed_itemInfo {
    margin-left: -220px;
    display: block;
    //max-width: 100px;
    margin-top: -10px;
    color: #5D5D5D;
}

.feed_itemPrice {
    float: right;
    margin-top: -20px;
    font-size: 14px !important;
    color: #00557C !important;
    font-weight: bold !important;
}

.feed_item {
    //background-color: blue;
    min-height: 5px !important;
    height: 5px !important;
}

#feed_secondColumn {
    margin-top: 50px;
}

/* ignore */
.test {
    width: 100px;
    background-color: red;
    margin: 10px;
}
